@inject ClassPort.Domain.Entities.Settings.ApplicationSettings Settings;
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 fw-bold" >Our Team</h1>
            <p class="lead mb-0">Classport is an interactive hallpass service that provides an easy way for students to sign in and out of classes, as well as providing administration with the tools to keep the halls secrue</p>
            <p class="lead mb-0">Our service allows school to create and customise their very own Classpass and uniquely design it to fit their school.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/003f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Faraz Liaquat</h1>
                    <h5 class="small text-uppercase text-muted badge bg-purple-lt">Founder</h5>
                    <p class="lead mb-0">Fumigator: 137,429 regrow bloons popped</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/001m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Aidan Leyden</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Web Designer</h5>
                    <p class="lead mb-0">Epic scum master</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/000f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Chris Eardley</h1>
                    <h5 class="small text-uppercase text-muted badge bg-blue-lt">Marketing</h5>
                    <p class="lead mb-0">"I dont know what i want my description to be"</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/004f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Phillip Phan</h1>
                    <h5 class="small text-uppercase text-muted badge bg-red-lt">Sales</h5>
                    <p class="lead mb-0">Phan Tech worker</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>




    </div>
</div>